<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>

		<!-- <script type="module" src="socketio.js"></script> -->
		<script type="module">
			import MySocketIO from "/socketio.js";
			const mySIO = new MySocketIO();
			const ioserver = "<%= ioserver %>";
			document.querySelector("#hello").addEventListener("click", () => {
				mySIO.ping(ioserver);
			});
		</script>
	</head>
	<body class="container">
		<button type="button" id="hello">Click Me</button>
		<br />
		<pre id="output"></pre>
	</body>
</html>
